# Fundamentals in Pandas

Pandas is a data analysis library for Python, used in machine learning, deep learning, AI, and general data analysis.

In [ ]:
import pandas as pd

## Series, DataFrames, & CSV's

The fundamental objects used in Pandas are the `Series` and `DataFrame` objects. These can be created from many different ways, such as from python sequences, dictionaries, numpy arrays, CSV's, or Excel Sheets.

### Series Datatype

`Series` is a 1-dimensional sequence of data.

In [ ]:
cars = pd.Series(['BMW', 'Toyota', 'Honda'])
cars

In [ ]:
colors = pd.Series(['Red', 'Blue', 'Green'])
colors

### DataFrame Datatype

`DataFrame` is a 2-Dimensional datatype, that takes in python dictionaries to map the key to the value in the DataFrame.

**NOTE**: Axis=1 is a Column, Axis=0 is a row with DataFrames!

In [ ]:
df = pd.DataFrame({'Car Make': cars, 'Color': colors})
df

### DataFrame's from CSV's

Typically, DataFrames are created and used in CSV files.

In [ ]:
# import csv to a DataFrame from a local file
car_sales_csv_file_path = './data/car-sales.csv'
car_sales = pd.read_csv(car_sales_csv_file_path)
car_sales

In [ ]:
# exporting the DataFrame to a csv

# index=False is to prevent including a column of the index number from the DataFrame
# NOTE: Uncomment below to export! Commented out to avoid exporting a csv each time!
# car_sales.to_csv('./data/temp.csv', index=False)

In [ ]:
# importing csv to a DataFrame from a URL
heart_disease_csv_url = 'https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/heart-disease.csv'
heart_disease = pd.read_csv(heart_disease_csv_url)
heart_disease.head()

## Describing Data

Pandas has A LOT of functionality to help visualize and describe data.

In [ ]:
# Describing the data types of each column
car_sales.dtypes

In [ ]:
# Looking at the column names
car_columns = car_sales.columns
car_columns

In [ ]:
# Looking at the range of indices in the dataframe
car_sales.index

In [ ]:
# Looking at statistical metadata of the dataframe
# NOTE: describe() works only on numeric columns
car_sales.describe()

In [ ]:
# Looking at metadata of the dataframe
car_sales.info()

In [ ]:
# Statistical values
# NOTE: works only on numeric columns and must specify numeric_only=True
car_sales.mean(numeric_only=True)

In [ ]:
# Looking at specific columns statistics
car_doors = car_sales['Doors']
car_doors.mean(), car_doors.sum(), car_doors.median(), car_doors.std(), car_doors.var()

## Viewing & Selecting Data

In [ ]:
car_sales.head()

In [ ]:
car_sales.tail()

In [ ]:
# .loc and .iloc
# .loc grabs by Series index, .iloc grabs from the actual position in the list
# NOTE: If index is not set on the Series or DataFrame, they will be the same value

# NOTE: index=[...] is used to hard code the index value of each item in the Series accessed with .loc
animals = pd.Series(['cat', 'snake', 'bird', 'croc', 'dog', 'panda'],
                    index=[0, 3, 5, 1, 3, 7])
animals.loc[3], animals.iloc[3]

In [ ]:
# Accessing data different ways

# NOTE: Using the .ATTR, column name can NOT have a space in it
car_sales.Make, car_sales['Make']

In [ ]:
# Indexing a Specific column by logic criteria

# Indexing the car_sales data frame by grabbing all rows where the Odometer column has a value higher than 100,000
car_sales[car_sales['Odometer (KM)'] > 100000]

## Aggregating Columns

In [ ]:
# Comparing two columns
# Aggregates two columns to find values with same value
pd.crosstab(car_sales.Make, car_sales.Doors)

In [ ]:
# Groupby (Same as sql)

# Group all rows by the make, then grab the mean of those values
car_sales.groupby(['Make']).mean(numeric_only=True)

In [ ]:
car_sales.groupby(['Make', 'Colour']).mean(numeric_only=True)

## Plotting Data

In [ ]:
# plotting data
car_sales['Odometer (KM)'].plot()

In [ ]:
car_sales['Odometer (KM)'].hist()

## Cleaning Up Columns

In [ ]:
# Remving $ & , from Price, then converting to an int
car_sales['Price'] = car_sales['Price'].str.replace('$', '').str.replace(',', '').astype(float).astype(int)
car_sales['Price']

## Manipulating Data

NOTE: Changing a DataFrame column requires reassigning the column.
- i.e.: `car_sales['Make'] = car_sales['Make'].str.lower()`

In [ ]:
car_sales['Make'].str.lower()

In [ ]:
# Missing Data
car_sales_missing = pd.read_csv('./data/car-sales-missing-data.csv')
car_sales_missing

In [ ]:
# Manipulating missing data by filling those columns with the mean() of all other values
car_sales_missing['Odometer (KM)'].fillna(car_sales_missing['Odometer (KM)'].mean(), inplace=True)
car_sales_missing

In [ ]:
# Manipulating data by dropping all rows with an NaN column.
car_sales_missing = pd.read_csv('./data/car-sales-missing-data.csv')
car_sales_missing_dropped_na = car_sales_missing.dropna()
car_sales_missing_dropped_na

In [ ]:
# Adding a column from a list

# NOTE: The list being added must be equal to the total indices in the list
car_sales = pd.read_csv('./data/car-sales.csv')
car_sales['Fuel Economy (KM/L)'] = [7.8, 3.5, 6.5, 5.5, 9.1, 3.3, 4.7, 8.3, 2.7, 6.6]
car_sales

In [ ]:
# Adding a column from another column
car_sales['Total Fuel Used (L)'] = car_sales['Odometer (KM)'] / car_sales['Fuel Economy (KM/L)']
car_sales

In [ ]:
# Adding a column from a single value
car_sales['Number of Wheels'] = 4
car_sales

In [ ]:
# Removing Columns
car_sales.drop('Number of Wheels', axis=1, inplace=True)
car_sales

In [ ]:
# Shuffling DataFrame rows
car_sales_shuffled = car_sales.sample(frac=1)
car_sales_shuffled

In [ ]:
# Shuffling only 20% of data
car_sales_shuffled_sample = car_sales.sample(frac=0.2)
car_sales_shuffled_sample

In [ ]:
# Resetting a shuffled dataframe

# NOTE: Without drop=True, it adds a new column (index) which maintains the index of the shuffled DataFrame.
car_sales_shuffled.reset_index(drop=True)

In [ ]:
# Creating a new column from another column
car_sales['Odometer (Mi)'] = car_sales['Odometer (KM)'].apply(lambda x: x / 1.61)
car_sales